/* Body styles */
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #16193B;
  }
  
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5% 0px;
}

  /* Container styles */
  .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-image: linear-gradient(141deg, #e8f5ff17, transparent);
    backdrop-filter: blur(34px);
    border-radius: 10px;
    border: 1px solid #bfe4ff4a;
  }

  .login-container:hover{
    background-image: linear-gradient(289deg, #e8f5ff17, transparent);

  }

  .container h1 {
    color: #E8F5FF;
    text-align: center;
    margin: 0px 0px 20px;
}
  
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-weight: bold;
    color: #E8F5FF;
    text-shadow: 0px 0px 10px #00000082;
  }
  
  input[type="email"],
  input[type="password"],input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #E8F5FF;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Button styles */
  .btn {
    display: inline-block;
    background-color: #2564D1;
    color: #E8F5FF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #16193B;
  }
  
  /* Signup link styles */
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #E8F5FF;
    text-decoration: none;
  }

  p{
    color: #E8F5FF;
    margin: 0px 0px 30px;
  }
  
.login-container p {  
    margin: 0px;
    
  }
  .signup-link a:hover {
    color: #2564D1;
    text-decoration: underline;
  }

img{
    position: absolute;
    top: 10%;
    z-index: -1;
}

